.avia-section.av-3aa0e8x-9901c0dc94cc83a81dd0c532cecf1447{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-3aa0e8x-9901c0dc94cc83a81dd0c532cecf1447 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-bjskcx-a3b16d9fc313ef8ccb9aa10feaaa6016{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-300y7s1-a0e214e0be9b3a544303e62a68882638{
padding-bottom:0px;
}

.flex_column.av-2z3r335-bec59f694a3e48072d88cd3512ccbdbe{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-2wol84h-1287ac3fb1a4df347913a249ec03e97f .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-abwpcx-24869427a94a37fcb6c2b780ba60d7a5{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2tkj0n5-be515668c5568f0620a92f6971dc97f7{
padding-bottom:0px;
}

#top .hr.av-9z6vvl-25b9111c1e8abb09203df188c6b51371{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-9z6vvl-25b9111c1e8abb09203df188c6b51371 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2ops2vl-b69f4c7190d2b6c63de3eeb286f237e6{
padding-bottom:0px;
}

#top .hr.av-2nfkmm9-930661c34fe3135fb21e524db54c0847{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2nfkmm9-930661c34fe3135fb21e524db54c0847 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2kk328x-40ae41461b0938d0bd83306a583389a1{
padding-bottom:0px;
}

#top .hr.av-2inan0h-9fb32a74d57f579f85640c8949412a30{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2inan0h-9fb32a74d57f579f85640c8949412a30 .hr-inner{
width:100%;
}

.flex_column.av-m05ipd-00ba9478856774b6ebea8e5857ef79d2{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-km3lvl-d0f804473c8fc2ef3b7fa969df870124{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-km3lvl-d0f804473c8fc2ef3b7fa969df870124 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-1y9801-1dec2d64cdd5213761f846ce09a6bfda{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-1qdvdt-fe863d30611158528542211d5710de40{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-g1ur81-8752eff49fe1471e82a8b01c4705c419{
height:25px;
}

.avia-section.av-coa97l-fc9baa0d4e7ab0b796d1da20087fba3b{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-coa97l-fc9baa0d4e7ab0b796d1da20087fba3b .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-8wh2ep-21ce28d7e24ff9f2a6bfe454abac10b5{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-8wh2ep-21ce28d7e24ff9f2a6bfe454abac10b5 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7phs8x-7813f06291cb404c8b2d2ba90d2ac9af{
height:15px;
}

#top .hr.hr-invisible.av-3i4r4h-f1f8c2eac675cc4cd7213c08da80b0d8{
height:15px;
}

