.avia-section.av-b5q3ia-de748ddb1269ec2bbe85128261828b16{
background-repeat:no-repeat;
background-image:url(../2021/09/note.jpg);
background-position:50% 0%;
background-attachment:fixed;
}
.avia-section.av-b5q3ia-de748ddb1269ec2bbe85128261828b16 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-30rf5ia-235771cbebb2adaaf53ec70f2d7da962{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-9yqlmq-2c1c6438bc6b4ee2536a3f42dbc2d52a{
padding-bottom:20px;
}

#top .hr.hr-invisible.av-ktuvgvra-123ee6ca3f848c98c78e4de6fa62604f{
height:20px;
}

.flex_column.av-2d6cle-63b1a80f9218b25d49e62de7131ec9ea{
background:url(../2021/09/health007.jpeg) 50% 50% no-repeat  ;
}

#top .hr.hr-invisible.av-mkhowi-40a2b429a8fb71695baf0f06ad5f3794{
height:300px;
}

