.avia-section.av-1gkyike-253bdef5ce52ce9ec4af7890ee7cb2af{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1gkyike-253bdef5ce52ce9ec4af7890ee7cb2af .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-1dc8p4u-264f12abc208b2497cff8d0eaaa8d566{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-kxk0scot-3ec3edfe8022c0bbc512d0354af709c3{
padding-bottom:0px;
}

.flex_column.av-16eji0u-c04266a197e8df749b931a4de3fed54f{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-kxk0t5sm-19c18754bd875b5b73f4485cdc72bb97 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-14q5xke-8fc13f4e15197bba29859a93ebae220a{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-12pvp0e-f98e0fd1a35d495a71d77e7240a4ba3e{
padding-bottom:0px;
}

#top .hr.av-11mr34u-d3045fc01101a78f47bf21f96a6bd17f{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-11mr34u-d3045fc01101a78f47bf21f96a6bd17f .hr-inner{
width:100%;
}

#top .av-special-heading.av-106xaxa-ad4f98564449fd746218dc337d2e8c80{
padding-bottom:0px;
}

#top .hr.av-xxi9y6-26fa819cab2026af98e745aa987f05b3{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-xxi9y6-26fa819cab2026af98e745aa987f05b3 .hr-inner{
width:100%;
}

#top .av-special-heading.av-vlk5ni-5dda9606ebc66a379540cb1afae1f398{
padding-bottom:0px;
}

#top .hr.av-3377m6-2d535b41694782f2faa0fe999858c369{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-3377m6-2d535b41694782f2faa0fe999858c369 .hr-inner{
width:100%;
}

.flex_column.av-m91yji-f57ad842c147b4e2903e5cb8e0f0d118{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-kamdoe-290508c15a7bfa2f80004cbf4660d8d1{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-kamdoe-290508c15a7bfa2f80004cbf4660d8d1 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-ipemfy-e1adcc6ce81faf55491be7a4832eb2db{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hll5i6-0aec1987f9754d3f3c68f28930979f90{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-1lfzem-f8695c6b9ebbaab7a6551c45e01525f5{
height:25px;
}

.avia-section.av-d5z9ni-fd6134ef02dc4846832e8cf80adc624f{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-d5z9ni-fd6134ef02dc4846832e8cf80adc624f .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9id6ny-08d1281e80263b24054d25b102bfde63{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9id6ny-08d1281e80263b24054d25b102bfde63 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7fis7i-e179af51cc7709a410a0dfaefb5300f9{
height:15px;
}

#top .hr.hr-invisible.av-citta-1ac6466e2cecdf37ece60c9dd810db71{
height:15px;
}

