.avia-section.av-ktcnndwz-7697f561f433be7b0b968f00ba21821b{
background-repeat:no-repeat;
background-image:url(../2021/09/pic2.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-ktcnndwz-7697f561f433be7b0b968f00ba21821b .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-ktcnm8au-c2cbefdc1da2f25c69e376e075de6946{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

.flex_column.av-61yewo-1745b2335c18fa61722a1d479d2f4b78{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

