.avia-section.av-39qlnxg-989651e876bd2bcee53f0c34ee944bce{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-39qlnxg-989651e876bd2bcee53f0c34ee944bce .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-36d6y90-342d3ef67c950f97c5e57770ce3ec212{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-2zybhac-d53a7f71a9737e1f0f7396e624779895{
padding-bottom:0px;
}

.flex_column.av-2zeg144-28ea572e9cc7e91511de7ee340452102{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-2wuix10-da92bfb13184ae1bf3cbe3c3d22af07e .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-2v79uwk-eac48df8f868923c9ec2202efc7c93a9{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2u729w4-2283bbb1d5a8760a48aa4c206e12734a{
padding-bottom:0px;
}

#top .hr.av-2rkln1w-38ca52b8166c05c5502c2ae6868c5c3f{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2rkln1w-38ca52b8166c05c5502c2ae6868c5c3f .hr-inner{
width:100%;
}

#top .av-special-heading.av-2o79xec-d447326997aaf5e269bc4eec7690888f{
padding-bottom:0px;
}

#top .hr.av-2nmam1g-c468f5c75cce819b1ce527044a1135d0{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2nmam1g-c468f5c75cce819b1ce527044a1135d0 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2k6jvo4-95bacb2f5a5a168eec34c80e071892f1{
padding-bottom:0px;
}

#top .hr.av-2hvpeuc-c70b323ad2845781ff510d44868ebb74{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2hvpeuc-c70b323ad2845781ff510d44868ebb74 .hr-inner{
width:100%;
}

.flex_column.av-n2ajpw-a3cc49fc5b094e81688aabb1c6573a83{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-k543zo-bb899833de6f87fc3c45c439fcea51ff{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-k543zo-bb899833de6f87fc3c45c439fcea51ff .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-jds3lw-cec849ac2a207f64e5f75ff4730cfed3{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hpyogk-62ff6cc12fc1bb9a3374308118337ccc{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-fjsgqc-86f06d3923fa4974caf4094fb36b3aca{
height:25px;
}

.avia-section.av-d34dlw-006651d36bcd114907979bbeadf5404c{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-d34dlw-006651d36bcd114907979bbeadf5404c .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9c4rmc-d0616cb2f217b030deb7afa7f313a17f{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9c4rmc-d0616cb2f217b030deb7afa7f313a17f .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-t93kk-b35f4e34bb9dd31f623e9e6774229462{
height:15px;
}

#top .hr.hr-invisible.av-49keok-e6eff9c896ad47f6dd3e6f85c8df860f{
height:15px;
}

