.avia-section.av-1chxb1c-89ae444418e3819a711bd62574c7c66b{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1chxb1c-89ae444418e3819a711bd62574c7c66b .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-19u538g-1ec88e5b36b3669136547ab0847ac4cd{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-kxk4ebri-959f16ddff7ba2adbf8db38fecc91ec3{
padding-bottom:0px;
}

.flex_column.av-13hdhr4-35c66abe02f9d5c54aa269a8ad743f64{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-kxk4g2jp-7b698373a9201dca33606dbc352dd01d .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-10o2sw0-9161e5852b01d5f1e236fdea96886d64{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-zohicg-ccdb30ea12713f5ac0aeed9186bb7e5a{
padding-bottom:0px;
}

#top .hr.av-x8wfjk-9f3cdd97c9b4e0026410d13f663d9e25{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-x8wfjk-9f3cdd97c9b4e0026410d13f663d9e25 .hr-inner{
width:100%;
}

#top .av-special-heading.av-vqbesw-4f1f7fadbacc59fe4d9be45341541b49{
padding-bottom:0px;
}

#top .hr.av-txv8kg-73babf410b0cb5c10ffc541ca6bf95f7{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-txv8kg-73babf410b0cb5c10ffc541ca6bf95f7 .hr-inner{
width:100%;
}

#top .av-special-heading.av-tbp200-0e496abb45f232b3035142386f224967{
padding-bottom:0px;
}

#top .hr.av-r47h0w-dbc801a7986d977fe01bac6672e86042{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-r47h0w-dbc801a7986d977fe01bac6672e86042 .hr-inner{
width:100%;
}

.flex_column.av-m5hsdc-73d0a3b9c1337cffec295c3b181969eb{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-l4o4ls-da24626469808ca5e8834653c2b199b2{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-l4o4ls-da24626469808ca5e8834653c2b199b2 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-jtvggg-883ddaac59b70ecca8437a5a21a62ac0{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-gvfsn4-2e190d067fa78cb5d12a5a191a90c47b{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-ffnaq8-6f00383500ceaeaf51c9043dbbcb05b5{
height:25px;
}

.avia-section.av-d5geo0-252592892c0f57d0dd566141f6d2c55e{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-d5geo0-252592892c0f57d0dd566141f6d2c55e .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-97ivrk-7d1bbd9ca1ead964e1c90d8c0cb6dad4{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-97ivrk-7d1bbd9ca1ead964e1c90d8c0cb6dad4 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7gs81c-dbb50da89af4a558f375adeffd7b49d6{
height:15px;
}

#top .hr.hr-invisible.av-4amki8-827bc8608a3671e4106268df45a9d027{
height:15px;
}

