.avia-section.av-ktmcjql1-1cf45a483b4541d953704992896dcc48{
background-repeat:no-repeat;
background-image:url(../2021/09/health009.jpeg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-ktmcjql1-1cf45a483b4541d953704992896dcc48 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-ktmcj4ux-07f8578505ac2b65c54974dc2e9c590e{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

.flex_column.av-f4wufb-82216c4c1e482a6ecdcd4319b1e6a1c1{
background-color:#338fa3;
}

.avia-image-container.av-dhd2hz-5a019b8fbb0b7fbeec0590804ce638b6 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_promobox.av-bzgwtj-2befe9d45219ea5623ac25cefb62613b{
color:#ffffff;
background:#338fa3;
border-color:#338fa3;
}

.flex_column.av-5p1jqv-f9ccfc543aaf33cb76f954f324902dce{
background-color:#338fa3;
}

.avia-image-container.av-3kykcn-78a0f335c3bee0d472f7fe25014c97ca .av-image-caption-overlay-center{
color:#ffffff;
}

.av_promobox.av-240wyf-254fe730bfd884a86e7429ef54e9fe70{
color:#ffffff;
background:#338fa3;
border-color:#338fa3;
}

.flex_column.av-b30kmv-660ca843d594ea1b31c36f4522994f0a{
background-color:#338fa3;
}

.avia-image-container.av-9waajr-35c21551439783304e203cf39273f27c .av-image-caption-overlay-center{
color:#ffffff;
}

.av_promobox.av-6vlm2f-15a32d72821a75814528c44ca295fab8{
color:#ffffff;
background:#338fa3;
border-color:#338fa3;
}

.flex_column.av-5k4iaf-25380797c63010473f9f5cc45d7c6474{
background-color:#338fa3;
}

.avia-image-container.av-ewjzr-c19d99d9e26b5b4c08d0ba3e79e61944 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_promobox.av-2o7xsn-c06b7a6ecdcb2130978292765d5e4a62{
color:#ffffff;
background:#338fa3;
border-color:#338fa3;
}

