.avia-section.av-brjmng-8870a89b0e1b390549a068a919b37791{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-brjmng-8870a89b0e1b390549a068a919b37791 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-375k1i4-dd814b30caf75823ff12c2e0929bdae7{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-30hjs4c-15a3ce091d8ecdf395414476fdfb7d41{
padding-bottom:0px;
}

.flex_column.av-2yirk0c-5f8b9d9548558984f55e2582c8817e77{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-2wrcgng-0a656d102acc7a04c1cbacbbd5d1c06f .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-2uzd7zg-2b3f7ad25defe15ec7b688c4d3efe7a9{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2tuy3q4-f8710fc69f159b38dd3376487d8c466d{
padding-bottom:0px;
}

#top .hr.av-2spqh8c-5f5fc934b8c66eaae93d8853b9803b32{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2spqh8c-5f5fc934b8c66eaae93d8853b9803b32 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2os8664-d9e1d2ea4420996ad30b2d1cb370de16{
padding-bottom:0px;
}

#top .hr.av-2mi4xa4-3675486facd1b3e5b906ec22e1c1a274{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2mi4xa4-3675486facd1b3e5b906ec22e1c1a274 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2jl4x18-522ad16d81a14194198e1c5934e8a9ac{
padding-bottom:0px;
}

#top .hr.av-2i7bskc-02a1b83c461e25eb4869d0cfede115ca{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2i7bskc-02a1b83c461e25eb4869d0cfede115ca .hr-inner{
width:100%;
}

.flex_column.av-m7005o-051f08835f1a3318c5cf1de6e6a9010c{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-knjwl8-eb426bc7f08656ecc0d33953c965d8fa{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-knjwl8-eb426bc7f08656ecc0d33953c965d8fa .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-ity5fw-7045351bf6ed56b4b11803b2cf7434c0{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-huuv1o-0dad1df038ffe16beb254e3c2c1e40d8{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-f51k2k-885e8aec5a35e82b54c6fe98f8913b9f{
height:25px;
}

.avia-section.av-c04p70-841aa61ae8c677912e675199bf926226{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-c04p70-841aa61ae8c677912e675199bf926226 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-949ezw-186a24dd53d6eafbe6ed251148a6a11d{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-949ezw-186a24dd53d6eafbe6ed251148a6a11d .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-74sbto-88d2f6dcf5414cd11a56f336d948f6b6{
height:15px;
}

#top .hr.hr-invisible.av-414hbg-4bcac1788227ea2858c17bc0f66dc808{
height:15px;
}

