.avia-section.av-1gw3r0o-428c1a6f7311991e414bd3357b703e49{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1gw3r0o-428c1a6f7311991e414bd3357b703e49 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-1d82nwo-df3ad50a4d0e1a0a4aafe07fa3f4bdff{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-kxk2nl46-eeb1f280bc4244258cb371c20efac65b{
padding-bottom:0px;
}

.flex_column.av-15tlgyw-ff64231b5ee62b96d0cf929a36737870{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-kxk2pmks-2006752f7491e5a903ee80b7f0c31e52 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-13zkpp4-b6f9a8be0747a83c49321080c6bdec26{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-13flmco-1ed017ae4f3e9751759075d312e30add{
padding-bottom:0px;
}

#top .hr.av-10quojs-e2a6f82c63c3e0876df4f183521d4ceb{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-10quojs-e2a6f82c63c3e0876df4f183521d4ceb .hr-inner{
width:100%;
}

#top .av-special-heading.av-3mwnqw-c2173ecd44c259e140120688da1083bb{
padding-bottom:0px;
}

#top .hr.av-ydtc7s-217c6fcefc9bc05e9a9091ff027dc3a3{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-ydtc7s-217c6fcefc9bc05e9a9091ff027dc3a3 .hr-inner{
width:100%;
}

#top .av-special-heading.av-wea3vs-0d891f5fa9639766865951a66ab86cb9{
padding-bottom:0px;
}

#top .hr.av-uuufqw-586c0578bbee630526aa3f260778ff32{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-uuufqw-586c0578bbee630526aa3f260778ff32 .hr-inner{
width:100%;
}

.flex_column.av-m0itg8-c2e3e35a295fe843ecafdceef5599579{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-le3uiw-3d05d292a231ce466ef4cf234650788f{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-le3uiw-3d05d292a231ce466ef4cf234650788f .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-jjqnq0-1d88d4258561c1efe58f3aa7972f4c47{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-htu7yg-62ee7f8ecbadb78e199f5357fd9ffa9a{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-fnfv0o-4647680452d60f57d8700937f5f532f8{
height:25px;
}

.avia-section.av-c3tds8-054c679bc1c223ae2a3cb302ecfc826d{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-c3tds8-054c679bc1c223ae2a3cb302ecfc826d .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-94f7oo-b7f30c9c4e4747da9aacb28786f49de4{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-94f7oo-b7f30c9c4e4747da9aacb28786f49de4 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7lo6w8-a6a9daacb19df024114ac3eede881868{
height:15px;
}

#top .hr.hr-invisible.av-3pt1go-0f374366fcac1bb4b8e8691917ef4479{
height:15px;
}

