.avia-section.av-1d9jltt-e53b5018620b5b3b0c731f933aafc826{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1d9jltt-e53b5018620b5b3b0c731f933aafc826 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-19qlrxt-b62d1b1e722868df4af88be27dd78b3f{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-l025w3z3-2b98478f159c0a6c50d7a665c89604f3{
padding-bottom:0px;
}

.flex_column.av-13b2q7l-5ee252f20916c097b3202cd44b60c09c{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-l0267lti-ae4e4f29c9a9adc20107cd33a140e5b8 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-3pir5d-cabe39525e47e6de50e411dbf0774736{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-zmn2ep-1f46db2bf4bfa5399c040ef7a4ef034a{
padding-bottom:0px;
}

#top .hr.av-ccttt-f5b85c68ac0dae7ec768b6c357e518e4{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-ccttt-f5b85c68ac0dae7ec768b6c357e518e4 .hr-inner{
width:100%;
}

#top .av-special-heading.av-wx24cx-79f6ef988b318b6ebd1ce9151704c8b5{
padding-bottom:0px;
}

#top .hr.av-u154fl-db51639bf5d5cdcff7ef76daa0c1ed8e{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-u154fl-db51639bf5d5cdcff7ef76daa0c1ed8e .hr-inner{
width:100%;
}

#top .av-special-heading.av-td9ush-259e5539d0923cd176acd184c8885e7d{
padding-bottom:0px;
}

#top .hr.av-qr4kwh-ace1b76a744fc543e2cbac2450925e84{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-qr4kwh-ace1b76a744fc543e2cbac2450925e84 .hr-inner{
width:100%;
}

.flex_column.av-n3euqp-319971591ec49b9273b54c3fc3e2c2f9{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-23d4s1-865d8f2d193375736c78d02642c04ee5{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-23d4s1-865d8f2d193375736c78d02642c04ee5 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-j3wbdd-0a861511b036da8e3427cf22a9878d3c{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hfdlq9-573a039f41a16c3da14092fbe878b0f7{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-f6z875-d4035330f4a19f4c44307843b50c9ef0{
height:25px;
}

.avia-section.av-d77unl-36404fbc07963219a895edac6720091a{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-d77unl-36404fbc07963219a895edac6720091a .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9a0wjl-b5f6f617e8653ba24cf454520b795535{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9a0wjl-b5f6f617e8653ba24cf454520b795535 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-82yu2p-57b28a2b7ac192e919df08c82ba40018{
height:15px;
}

#top .hr.hr-invisible.av-3jux6p-c2989921dc064c75d3ff53139bc62bfa{
height:15px;
}

