.avia-section.av-3a6ukzw-2780d805f7d9e245e8e786a5f13f744c{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-3a6ukzw-2780d805f7d9e245e8e786a5f13f744c .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-36cqvik-0797fc167149c5049e696084bf8a6f31{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-30olc6k-ad7dbf0b6c0dfe18fb7007da9684836a{
padding-bottom:0px;
}

.flex_column.av-aosiv0-c499c758b42389717a98928cf93a833a{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-2xn0xq4-c1627f126aafbe1d265beba1796ad81d .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-2uq9xjw-4407ca6ffe1a6a201aaaccdebd373000{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2taj5d8-4318dde37dd9a1a8a3df8d6a3807fda8{
padding-bottom:0px;
}

#top .hr.av-2sgkm7g-2a51fe4d271689fa537b6823064b1ee0{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2sgkm7g-2a51fe4d271689fa537b6823064b1ee0 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2phgirg-051e9f8bad58cf35a3fb5c48c9a46384{
padding-bottom:0px;
}

#top .hr.av-2mfnjnw-8bf11173eb9c78a34ccb3f8397abce40{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2mfnjnw-8bf11173eb9c78a34ccb3f8397abce40 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2jf40d8-eea99e7a60accf082d718f2331111c69{
padding-bottom:0px;
}

#top .hr.av-2hj30sc-ced2552fd783b4c7ba2132b3e6f3a6a4{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2hj30sc-ced2552fd783b4c7ba2132b3e6f3a6a4 .hr-inner{
width:100%;
}

.flex_column.av-m6x03w-0b0cb32b8d4d2debd96ab475439b234f{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-kevma4-df2e41a4baacb7d200061fd4c07aecb1{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-kevma4-df2e41a4baacb7d200061fd4c07aecb1 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-jmalj0-c0d7df498da21669cd4cb69efdd7f0fb{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-h9km58-350a4a25157ba2a56ae4426690c2e585{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-fzuqlo-2a1fabfb955d64317448a904eacb57e0{
height:25px;
}

.avia-section.av-cjxsgs-e6e8b1b87593b23969b1cc6134497d82{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-cjxsgs-e6e8b1b87593b23969b1cc6134497d82 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9i2o7g-c452951a1fa0eb5821d818e03985f442{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9i2o7g-c452951a1fa0eb5821d818e03985f442 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7e64ak-da9d2b27728f35f6020fba1e3b803ebd{
height:15px;
}

#top .hr.hr-invisible.av-3w05ho-71f0fa576c54dd86faffa637faea3b6b{
height:15px;
}

