.avia-section.av-1gbmnie-9c57806e884164ecbe018bdcc59f510d{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1gbmnie-9c57806e884164ecbe018bdcc59f510d .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-1dga0ly-da4e279907bd472143ae9eaab672d5e7{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-kxk0lwcd-3978434ed9753f8299ad5e4a85d86e37{
padding-bottom:0px;
}

.flex_column.av-16jkm2u-bf62556667eb73454081b9aee8b6e361{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-kxk0mzpx-efd5dd9af6559e1a63d79db4ccfe6034 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-14df1hy-93a209f8f8d1530680d41ab2a34e8080{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-3xtj92-7ca549811008da18727fff9e846509ad{
padding-bottom:0px;
}

#top .hr.av-10t321y-5dafc25f1a429a987fa5be0e3408df7b{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-10t321y-5dafc25f1a429a987fa5be0e3408df7b .hr-inner{
width:100%;
}

#top .av-special-heading.av-z8y3fa-efade62da0958bcbd7f79cae96cebb93{
padding-bottom:0px;
}

#top .hr.av-y02v9y-dfa09915d58bdc8a2203c6ff5a219ecc{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-y02v9y-dfa09915d58bdc8a2203c6ff5a219ecc .hr-inner{
width:100%;
}

#top .av-special-heading.av-vxljhy-f2cc700a084f8d85b630873cd5954ec5{
padding-bottom:0px;
}

#top .hr.av-v58nye-45ec00803abf881d587c1042dfe93c72{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-v58nye-45ec00803abf881d587c1042dfe93c72 .hr-inner{
width:100%;
}

#top .av-special-heading.av-o3cd12-c88fb3aaf7c2a83a6c5d47d4339d44fa{
padding-bottom:0px;
}

.flex_column.av-mbe6xy-c1336249ea83f0c35c9f05538b3a5d72{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-kdf47q-3107a7857a0909fbe81993d2ce890959{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-kdf47q-3107a7857a0909fbe81993d2ce890959 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-j824ti-21f822593c13f5258bc84ae24cee0ac8{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-h64ycm-7bd58f063d9cc19e9459c69a387893ce{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-g12wh2-d1233f14ac2f38732d9f46cedc76eb26{
height:25px;
}

.avia-section.av-cxyk4m-040c88bf998df3b558a56336cf8a0418{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-cxyk4m-040c88bf998df3b558a56336cf8a0418 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-914op2-40c3b5a5c2ff9fa6e9ae1fe6c532cbe0{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-914op2-40c3b5a5c2ff9fa6e9ae1fe6c532cbe0 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-rcb1y-a7caa94bec8d40cd4336506ffcf86d79{
height:15px;
}

#top .hr.hr-invisible.av-4xooqe-e299066c9739709f023d7c2b248d441a{
height:15px;
}

