.avia-section.av-1cz7ira-7367e51041c1a5af8256c71d848538b9{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1cz7ira-7367e51041c1a5af8256c71d848538b9 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-19obgyu-0490dad3e960736e757ea4774f8433f7{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-l0257tz4-9750f23c30b1fa2ae70ef0bb6ee223ef{
padding-bottom:0px;
}

.flex_column.av-12irs3q-95ed84ce0bf6f71ed66ccc9f68a2ed4c{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-l025esiw-685209349c13bdd5376ca3a24a161099 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-10ppj46-ec516aa5d3d15c2c4469aa45848ef68f{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-zbbm6u-58daaea664db6de20c86029e8a54c138{
padding-bottom:0px;
}

#top .hr.av-y8x5o6-f296752909ee2937d351693fa7a5aa13{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-y8x5o6-f296752909ee2937d351693fa7a5aa13 .hr-inner{
width:100%;
}

#top .av-special-heading.av-wskig6-9f0cf5305eedef650da28a5bc4c9c4f1{
padding-bottom:0px;
}

#top .hr.av-ve4o2u-6915d79ce6626216056570a37081856b{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-ve4o2u-6915d79ce6626216056570a37081856b .hr-inner{
width:100%;
}

#top .av-special-heading.av-shp0uu-8305e70cdae68fff5a64e77a97f8566b{
padding-bottom:0px;
}

#top .hr.av-2py3qu-56991190398e531b38ba099c1e80a5ac{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2py3qu-56991190398e531b38ba099c1e80a5ac .hr-inner{
width:100%;
}

.flex_column.av-mtluee-851fcbd9b9dc779f7c9409e0825bbd04{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-ka58g6-a43fc860f485c8c725ad8d7c4583cbbc{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-ka58g6-a43fc860f485c8c725ad8d7c4583cbbc .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-j0ikna-3eecf098084b34398cde8a95ed44b3fe{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hrv29y-950118fc60d6fcfc70cac2710d51fe87{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-g878xi-e086ea591f02720c746ee9a1c01ca36c{
height:25px;
}

.avia-section.av-d1b8bq-e8f32050bf9c4fe2285804f2646c26bf{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-d1b8bq-e8f32050bf9c4fe2285804f2646c26bf .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9rgh4m-faa058265a891d9f281ec4c5e0042604{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9rgh4m-faa058265a891d9f281ec4c5e0042604 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7pyas6-a79cf38c4deeb425ecf7b6e454cb6533{
height:15px;
}

#top .hr.hr-invisible.av-3qs6xy-c625aac22c9f106baf6dce40d4755b01{
height:15px;
}

