.avia-section.av-hqsu9-4dfb905c612b0d4d2ba662c3f3710857{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-hqsu9-4dfb905c612b0d4d2ba662c3f3710857 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-19xyoyp-fa7550ae94f2bcd3af216d2f1c586e52{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-l0253nx4-b862dafb9a6ede68745dfe8a513c55f2{
padding-bottom:0px;
}

.flex_column.av-13864rl-dc64fd4f8cf81e402424160d346acb8f{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-l0253bzs-c8b4f4db6cf71de600031fa068416eec .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-11yftsh-235a2ec00ee8640a5d5f1852e27492c3{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-zwai41-e193ef80bc3554bc8a3604f841bdd2ad{
padding-bottom:0px;
}

#top .hr.av-y35w8x-77bbc351038029f82e68fce1f9e49b4c{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-y35w8x-77bbc351038029f82e68fce1f9e49b4c .hr-inner{
width:100%;
}

#top .av-special-heading.av-wl93f5-4cb37f3d006787bc1a21d159234e6dda{
padding-bottom:0px;
}

#top .hr.av-udn84h-216d250bbe28b2b6eae73c7e220f46a8{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-udn84h-216d250bbe28b2b6eae73c7e220f46a8 .hr-inner{
width:100%;
}

#top .av-special-heading.av-sg784h-4e114238ab7ac66cae3cdf898fb5b5c5{
padding-bottom:0px;
}

#top .hr.av-qr7kwx-45dc2e4d57a228fc98453b5e08d47283{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-qr7kwx-45dc2e4d57a228fc98453b5e08d47283 .hr-inner{
width:100%;
}

.flex_column.av-m2gwn5-d6cc2bc3e911be9a8ad4731ec06c5834{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-lfcuxt-9cbe716b5ee506e2f807f68bdd804f2b{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-lfcuxt-9cbe716b5ee506e2f807f68bdd804f2b .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-iq57a9-390b90786aac8731deb8b930124effce{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hxn6k1-b29b78609452d78bff759f0125d49aaf{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-1k7m8h-e5c170fd5313a1a192e11dd79daee3b0{
height:25px;
}

.avia-section.av-bwn3zl-9f83ec959d6fa650d87b81da5eb9b0f2{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-bwn3zl-9f83ec959d6fa650d87b81da5eb9b0f2 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-8t6jtt-d69959183ffb06582d7e25a60c99abc8{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-8t6jtt-d69959183ffb06582d7e25a60c99abc8 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7jpgn5-73594a6a100235a7a9361856656136a5{
height:15px;
}

#top .hr.hr-invisible.av-gapu9-a3cc1888189da5560c4b8f70cd4f9f34{
height:15px;
}

