.avia-section.av-19gaz6c-b68ad91d8c972f9d1c96f94d8b2d6c6b{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-19gaz6c-b68ad91d8c972f9d1c96f94d8b2d6c6b .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-48netg-ca52414f862157e6568035db1cc7c989{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-l026el54-089c291dd6064495a704dae41270ced7{
padding-bottom:0px;
}

.flex_column.av-3l1kok-a8b8f72d5577bdb97ab80c193cfa1be1{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-l026k8z5-4ae676b6255b7ce75102235c1d06f398 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-3d5sms-a12479fea5043c83793d524f4c3458a0{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-wnam1g-acdc5d086cfc31169c1e0b6ce7eb47a2{
padding-bottom:0px;
}

#top .hr.av-uizhfo-34ab9ea8302330b4d667a94e81f09b7d{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-uizhfo-34ab9ea8302330b4d667a94e81f09b7d .hr-inner{
width:100%;
}

#top .av-special-heading.av-t4p7ok-579e1e4dbbf809cf6decc4349a016d3e{
padding-bottom:0px;
}

#top .hr.av-qnbems-4736c30bff8a6a9194b17dd7b07c1604{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-qnbems-4736c30bff8a6a9194b17dd7b07c1604 .hr-inner{
width:100%;
}

.flex_column.av-lpf32s-a3f6dbc21a222042264d0b30faf9511f{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-l7h2wk-79002c6b9759d1a9e519b2643e51157e{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-l7h2wk-79002c6b9759d1a9e519b2643e51157e .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-1w557o-b75922b3e1ae93280f65720faa15a810{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-i5p6dw-2d24beaf8c7c885c4f86ca6580a6aa84{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-g4txno-aac35cb4c67440abfdad1047d76b51f1{
height:25px;
}

.avia-section.av-cgok84-2b4d97dbee41c4354fe10fc46fc3a7cd{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-cgok84-2b4d97dbee41c4354fe10fc46fc3a7cd .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9v55dg-48c9c9ed8ee61e5d940ad01eda6ed148{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9v55dg-48c9c9ed8ee61e5d940ad01eda6ed148 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-6t5qsk-51d57a4b2da5130ba5cd3675725a7e1f{
height:15px;
}

#top .hr.hr-invisible.av-4b4ses-0b0cf48e543b5815d30ba1ecae86c430{
height:15px;
}

