.avia-section.av-ktcjwp2y-dc0a7e72c521be66494d05d7d0157f83{
background-color:#338fa3;
background:linear-gradient( to bottom right, #338fa3, #0c4077 );
}

#top .flex_column_table.av-equal-height-column-flextable.av-1qdj64f-4dd0b86381cb4ea1c090d9662a0ca78d{
margin-top:0px;
margin-bottom:0px;
}

.av_promobox.av-3a3dmn-5b61dfe45c9e216568a0ee70a3b55f4c{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:3px 1px 0 0;
border-color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-1o7to8v-b0ef39b3fa890f948fb7d98e22eee3c3{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-1o7to8v-b0ef39b3fa890f948fb7d98e22eee3c3{
padding:0 30px 0 30px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-1mjgj7z-f83a89779edb325dfd3aac4b3003b2a3{
margin-top:0px;
margin-bottom:0px;
}

.av_promobox.av-1l4ybz3-f25c0da8a05a7887dca758949f203d8c{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#ffffff;
}

.avia-section.av-ktcki1bt-e7ab51491c6996f1023af42f0aee5507{
background-repeat:no-repeat;
background-image:url(../2021/09/protection002.jpeg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-ktcki1bt-e7ab51491c6996f1023af42f0aee5507 .av-section-color-overlay{
opacity:0.6;
background-color:#0c4077;
}

.flex_column.av-758t4v-4d8bf43db26d74397799a12b0e486475{
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

#top .av-special-heading.av-8z04wf-e43a1e28ce5ebfaa751d66d263eb5fec{
margin:-10px 0 0 0;
padding-bottom:0px;
}

#top #wrap_all .avia-button.av-2pa2bj-33c49446965f69989e36279b9151e3ce{
color:#338fa3;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#338fa3;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-2pa2bj-33c49446965f69989e36279b9151e3ce:hover{
color:#0c4077;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-dlungv-a36ab7c91bd0f80ad2aad8a07d53efcd{
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

#top .av-special-heading.av-12pv9b-f83f4587a696f89b069b812d3b47addd{
margin:-10px 0 0 0;
padding-bottom:0px;
}

#top #wrap_all .avia-button.av-ktl97z16-6486d80368db194f359767f1606b7ad6{
color:#338fa3;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#338fa3;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-ktl97z16-6486d80368db194f359767f1606b7ad6:hover{
color:#0c4077;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-9hhuy7-112c5fb7ed256d9a715a9d6ec3911a9e{
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

#top .av-special-heading.av-3vnhfz-a192020b3326d2ad249ef615c9cace5f{
margin:-10px 0 0 0;
padding-bottom:0px;
}

#top #wrap_all .avia-button.av-5sup33-adf53182bce0957d873ffc081d720124{
color:#338fa3;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#338fa3;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-5sup33-adf53182bce0957d873ffc081d720124:hover{
color:#0c4077;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-7io4tr-b7751e9d2e5cd146c8701c257196510b{
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

#top .av-special-heading.av-5lva5r-bc4b5f916035c500c9a1f298be7e5336{
margin:-10px 0 0 0;
padding-bottom:0px;
}

#top #wrap_all .avia-button.av-akhrz-5428897d40844b6c7db51c27c4bfa57a{
color:#338fa3;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#338fa3;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-akhrz-5428897d40844b6c7db51c27c4bfa57a:hover{
color:#0c4077;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

.flex_column.av-9r8aov-7447489f1064720ea25a1be7b9b0dfff{
border-width:1px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-ktcl0g4z-a8dce90bab892de8788e3ad154ba8bc8{
color:#338fa3 !important;
}

.flex_column.av-37h2kf-eeb4fe6c41c374b4d4db016d7337b4c1{
border-width:1px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

.avia-animated-number.av-in4qn-34eb95f4c87a9933d27dd7b809a40286{
color:#338fa3 !important;
}

#top .av-special-heading.av-1ef79sf-aadbc4ea327b5f3839cb30478edbbf14{
padding-bottom:0px;
}

.flex_column.av-ykaadr-ae94af6dd2fc457194e8c6bc5ce0513b{
padding:30px 30px 30px 30px;
background:url(../2021/09/health003.jpeg) 50% 50% no-repeat  ;
}

#top .hr.hr-invisible.av-ktcloyfy-1748f572faaf0b623b80874ff3814dfb{
height:300px;
}

.flex_column.av-a9e8cv-86626c6a081537ceab1eaa7b812acf03{
padding:30px 30px 30px 30px;
background-color:#f8f8f8;
}

#top .hr.hr-invisible.av-ktl9lxoj-54f700a1ce42f8700f06e2f157bac139{
height:20px;
}

#top #wrap_all .avia-button.av-ktct7xhj-2dd5c6e1ba5da0e4e1875a342e87e4eb:hover{
background-color:#276435;
color:white;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

#top .flex_column.av-ktcmcznn-4356936eaea8effb486cab5ff5802dd7{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-ktcmcznn-4356936eaea8effb486cab5ff5802dd7{
padding:30px 30px 30px 30px;
background-color:#f8f8f8;
}
.responsive #top #wrap_all .flex_column.av-ktcmcznn-4356936eaea8effb486cab5ff5802dd7{
margin-top:0px;
margin-bottom:0px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-ktcn0f61-3bf63b00435761d6c4fb30af32eab666{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-ktcn0f61-3bf63b00435761d6c4fb30af32eab666{
background-color:#f8f8f8;
}

#top .flex_column_table.av-equal-height-column-flextable.av-3stobj-e7749c044402f7a045e29b906f2e72c2{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-3stobj-e7749c044402f7a045e29b906f2e72c2{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

#top .flex_column_table.av-equal-height-column-flextable.av-2h8hxr-95df9e916ff05453bd5afd7f05457e72{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-2h8hxr-95df9e916ff05453bd5afd7f05457e72{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.avia-section.av-ktcmshft-f241204d7cd50586231ea7bc620d996c{
background-repeat:no-repeat;
background-image:url(../2021/09/health005.jpeg);
background-position:50% 50%;
background-attachment:fixed;
}

.flex_column.av-ktcmxw4i-ed5a241deb3e23e26f231912415d5127{
border-width:5px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
background-color:#ffffff;
}

.av_font_icon.av-ktcmw4rg-bad5977ae1e18000ce82fac88e55c0a1{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-ktcmw4rg-bad5977ae1e18000ce82fac88e55c0a1 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .hr.hr-invisible.av-ktcn1wzl-641154be06f1e1119caeaad545f120e7{
height:20px;
}

#top #wrap_all .avia-button.av-2j35mn-965b9916d73a564723dbc8c7d00c46bc:hover{
color:white;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

