.avia-section.av-1gbm82g-4d5f06b87be54819d8d4cec14bd56ef5{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1gbm82g-4d5f06b87be54819d8d4cec14bd56ef5 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-hn5lk-8aa85b22fc5e645b245c00dfa10308ca{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-kxk0bfuk-a7f2bc924e7eb220b4f21cb3440f3be4{
padding-bottom:0px;
}

.flex_column.av-1692ye0-a425b7d3239f634e66638b63db75fdd5{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-kxk0bvcz-44fe1375895baa55d717bdb1b90b28ba .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-15c8ons-040396933efa45866d1806c1f163ef46{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-13k0nmw-28ae7ec32f2d33313745132789b83259{
padding-bottom:0px;
}

#top .hr.av-11evy7s-46f94d3a456229b3590b22ce50908461{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-11evy7s-46f94d3a456229b3590b22ce50908461 .hr-inner{
width:100%;
}

#top .av-special-heading.av-zt5joo-6d6261874a97ee358a9db7cf7d6e37a9{
padding-bottom:0px;
}

#top .hr.av-y6r4yg-60532ed04ba6654cbd76f295b7ffd218{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-y6r4yg-60532ed04ba6654cbd76f295b7ffd218 .hr-inner{
width:100%;
}

#top .av-special-heading.av-wsvnm0-729954d77737656c44d406f11dab7e29{
padding-bottom:0px;
}

#top .hr.av-uo1nzs-86b55e2663b401dfd008f7c1efa7004d{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-uo1nzs-86b55e2663b401dfd008f7c1efa7004d .hr-inner{
width:100%;
}

.flex_column.av-mgal8o-6e546a29bbf156ed892cbdcb157ea025{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-kee1x4-3405fd75c68e4c0608374ff22a321000{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-kee1x4-3405fd75c68e4c0608374ff22a321000 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-iu2viw-bbe318951915880c2e9c65d72c079895{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-gzlm48-17d4795c09ecfbdf7d5fba0c6110532b{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-f820q0-89225156348c721104b37e0a4940e521{
height:25px;
}

.avia-section.av-d7txbs-60905f3517a870499684ee10fb5b8fb8{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-d7txbs-60905f3517a870499684ee10fb5b8fb8 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-97v3jc-98a141c0173e2cf60c19818a71b09668{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-97v3jc-98a141c0173e2cf60c19818a71b09668 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-pp5ew-3f0591210ba0ab2fe30a909c378e0d4a{
height:15px;
}

#top .hr.hr-invisible.av-3u9krc-f24554135c015904238c82b11ac24ce7{
height:15px;
}

