.avia-section.av-1n75chr-a29c97d659cafec5f3f2f00a3eae3159{
background-repeat:no-repeat;
background-image:url(../2021/09/09090-2.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1n75chr-a29c97d659cafec5f3f2f00a3eae3159 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-ktck21dk-2f8af01e210f2b50b1be2f6f67f62d0b{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

.avia-section.av-1i0p8ov-70f4c649d17f4460c67276bf53a9a8fe .av-section-color-overlay{
opacity:0.7;
background-image:url(../../themes/enfold/images/background-images/ios-linen-dark.png);
background-repeat:repeat;
}

#top .av-special-heading.av-1emk5xr-074d265a8191f93a9614d0b381ba1fbd{
margin:0 0 20px 0;
padding-bottom:0px;
}
.av-special-heading.av-1emk5xr-074d265a8191f93a9614d0b381ba1fbd .av-subheading{
font-size:15px;
}

#top .hr.av-ku3pmv1u-744d0d21276f3e58006d79bb49b7345c{
margin-top:0px;
margin-bottom:20px;
}
.hr.av-ku3pmv1u-744d0d21276f3e58006d79bb49b7345c .hr-inner{
width:100%;
border-color:#338fa3;
}

#top .avia-icon-list-container.av-ktuxgwi0-47c8497f3bd1a985ccd66f6793c36d43 .iconlist_icon{
color:#338fa3;
}

#top .hr.hr-invisible.av-ktuxp9bo-ba169bc0ca9e87a857c3e3404f0a4911{
height:30px;
}

.avia-section.av-rprqgv-d698bfe401686fc2d0da8f411fbbee54{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-rprqgv-d698bfe401686fc2d0da8f411fbbee54 .av-section-color-overlay{
opacity:0.7;
background-color:#0a0a0a;
}

