.avia-section.av-ktmj76w4-12557cbbda1c132392c35e22bfe688d1{
background-repeat:no-repeat;
background-image:url(../2021/09/health008.jpeg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-ktmj76w4-12557cbbda1c132392c35e22bfe688d1 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-ktmj6lvi-18004c1a944d9cf823937a0bc15eb3ac{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-1eqp6gu-48d6d8e5b42c2a7e5eae1f1fe5ff8cc3{
padding-bottom:0px;
}

.flex_column.av-v9cc4u-ec4983c9d52caf4f6a3894a06f83bdbe{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-ktmj9h3q-7da91f17878cd19c3ec2febdb1cac4e4 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-fw6hzi-f8dd69867c80985e7cf2438b0c657062{
margin-top:px;
height:1px;
}

.flex_column.av-19sexda-342d210063f84eeb0c2203c7a446a733{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-179roim-3d376bb058d185565c644199df75d331 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-15yz832-c0b061009c6dd58ae463504134cd5ffb{
margin-top:px;
height:1px;
}

.flex_column.av-3ynjbi-cfa4590f3ca5149208a1ed41c22061e4{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-1140zz2-608e80a78034f8d983525f1cc28082a6 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-3ldcta-19bee0c1a4f2875eadca73b67e809c54{
margin-top:px;
height:1px;
}

.flex_column.av-vm8sta-a823d36d34bf0bca17f7d0bd3b7a2c30{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-usceta-10fc2e6e628fb4e6626b4db915e2e156 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-tqgtb2-a508970c3ed49911ee565480a9de8fce{
margin-top:px;
height:1px;
}

.flex_column.av-1hrexj2-7495d9ebc0da034d41414c8fe1d85324{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-1g7v6se-5fe39a5e0691f5c843be46483c736016 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-1eby9ta-381452403a1c67fcd1ff1d4c76b718f0{
margin-top:px;
height:1px;
}

.flex_column.av-1axh6ym-ed7747e37435fee08fc10a6e397a74a1{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-19ome8u-a33ccb755c489104f24b789d2e8ec398 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-18mpaq6-1df89f3917f2cc542fc92d76f66d6503{
margin-top:px;
height:1px;
}

.flex_column.av-13w7lxq-1f880ad3faae35627dbd193612ed56d6{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-12heh66-7072c400c69d72f288186eaa808585bd .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-11o80ta-62a86a748e55e6c80539deb9237af5ae{
margin-top:px;
height:1px;
}

.flex_column.av-xzrafi-e96bfa8774da50396f2a3dfacbe708f4{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-vz46wu-9d3096b5c8ad3ae66649e15b913ecbe2 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-v2j4z2-b5a2e5787ddd3306a8e7af068cb45cc3{
margin-top:px;
height:1px;
}

#top .av-special-heading.av-nzym4u-b22f7fa5485e85ff429b535006aacf9b{
padding-bottom:0px;
}

.flex_column.av-qpe7a6-3926a1c547d146aba78872472218a895{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-qbeike-918039763d99e71e6451d7807a28c950 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-oei0q6-67cbc3b497105690484d2d4645b40f08{
margin-top:px;
height:1px;
}

.flex_column.av-kc4lni-8ac9d8f951476cc4aa20c60b4123bb48{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-1zf8i6-0eea8a12827cbc5cbb27f3b19fe33812 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-hgptla-1b41738df023fee760c21786e4164013{
margin-top:px;
height:1px;
}

.flex_column.av-e9kswu-d3cbf91e7fe3d86ce418a44298603000{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-cln3fy-ea8cad14c9bb23c88efee57127c83c6c .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-aqvrdq-6465c9a6e24bf774643845f9a670be6e{
margin-top:px;
height:1px;
}

.flex_column.av-74b6pa-2eb3254010f83d5bf5215da9ce33113e{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-62hqcu-b59d39ee8c1a8b99f89a696ae89f265a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-4q79ha-ded7598807396df4981951159c57e64e{
margin-top:px;
height:1px;
}

.flex_column.av-s100ta-638a363569f2c049db8ffde7de61cfc1{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-primym-d2633d0f3fd1991affef330b0f180deb .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-2ehi3y-93d3276e45d06b87c1bb25570059d035{
margin-top:px;
height:1px;
}

.flex_column.av-l67mum-3ac2c49700dcfa458b9b430d5fca0b83{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-j9l7ny-1811086c97243d7d4c1e2635944de579 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-h7912m-45d980d3625a9ee7697094bc126c05ca{
margin-top:px;
height:1px;
}

.flex_column.av-et8jb2-41cc84b0e698db0abd64daf41e18f3bc{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-ciukm6-e1541aab2c2146b6f56d9710d6e3c9ed .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-ardrj2-5456ffed6f0ed271cf09192ce7e46763{
margin-top:px;
height:1px;
}

.flex_column.av-74zmby-ec7d3b611c322317ae4105de925af3a3{
padding:10px 10px 10px 10px;
background-color:#efefef;
}

.avia-image-container.av-6ad2z2-b4a046570a3fe7b4fc9f113265774f0e .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-3yg8z2-74cb122731cf2f245409eb3e6d98a032{
margin-top:px;
height:1px;
}

