.avia-section.av-1oillw5-b2b2f57321444ced1f12b94135c1b59c{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1oillw5-b2b2f57321444ced1f12b94135c1b59c .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-1khbuad-f053ae6d43574a3b8005784fcc51ad60{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-4oauo5-cdd3d6a706c4f838a16a361e857c5d0b{
padding-bottom:20px;
}

#top .av-special-heading.av-20ws4l-f28afaa2204d28fc5d198adb9507d55a{
padding-bottom:0px;
}

