.avia-section.av-1frj9u6-ef9880daf4900f8b0c3e2f0456ae4ace{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1frj9u6-ef9880daf4900f8b0c3e2f0456ae4ace .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-1ccmz5a-4a1a2c0bab22d1eb9a9dec1542f3e154{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-kxk0geml-2ee321eb3ad73b7e60e506ab53385d70{
padding-bottom:0px;
}

.flex_column.av-15z7l6m-1cefdb5846fd23c07626d6026cf0ec9a{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-kxk0hffy-14f3b681a636d1bb5e4ae7b9017264be .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-14u23um-d1d6fa9ab0cd3e297742705c6b8778f9{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-12imf4u-916686819c425d079669b4a391868456{
padding-bottom:0px;
}

#top .hr.av-11dekxa-f68d61faf373fcc47184548df3897a48{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-11dekxa-f68d61faf373fcc47184548df3897a48 .hr-inner{
width:100%;
}

#top .av-special-heading.av-109h1dq-d94723a61e0edd0f16aed1e8828467ea{
padding-bottom:0px;
}

#top .hr.av-yk8e3i-3004c08fe01f8d3be493f874e481bafd{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-yk8e3i-3004c08fe01f8d3be493f874e481bafd .hr-inner{
width:100%;
}

#top .av-special-heading.av-w410tq-4c4dac4e2f7be9a96442023654247bd3{
padding-bottom:0px;
}

#top .hr.av-u03m1q-88e5f523a09327a0c211a53969a7af1b{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-u03m1q-88e5f523a09327a0c211a53969a7af1b .hr-inner{
width:100%;
}

.flex_column.av-m54a7y-21cc9191ef549b6f701b3e82c156c83b{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-258n9a-31c73163b524d3918534cfa91950aa43{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-258n9a-31c73163b524d3918534cfa91950aa43 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-1yonvy-e020a4d6c2ed7011095c9cc9b21e2431{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hlg80u-2d1bebfd38053bc944434bbacef71860{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-g8ggni-3149cbf1b48cadc643053407f8d64ec3{
height:25px;
}

.avia-section.av-cv018u-7911185375720ddb1adac7ab12233a08{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-cv018u-7911185375720ddb1adac7ab12233a08 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-3hojy-afbd78c64029e0b6db698cd54ec32798{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-3hojy-afbd78c64029e0b6db698cd54ec32798 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-825gwe-59e54bc1b7df8b5dea4e8fb30f7ada26{
height:15px;
}

#top .hr.hr-invisible.av-41hzri-6194926f6ee338f1c77157bd23af6876{
height:15px;
}

