.avia-section.av-1p18pxl-7f63c69a8ebb11ca6a5c1de756bc6cd3{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1p18pxl-7f63c69a8ebb11ca6a5c1de756bc6cd3 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-1kowxmh-ec2f802db8d7e48bd74aa69c0209c817{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-1eqalh5-ea106b0aed1f4868826d6a561ab44264{
padding-bottom:0px;
}

.flex_column.av-14hykd5-c31ae606f0336e058b9607714215e7c6{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-ktcepgil-279aaa28395f214b5c24c0ecae7c720e .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-1dlvh7t-cb4a3a2b2fb0bd5a233d4b81ce673caf{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-1bv33rd-7dd1102e5688c218bde36d6bb3155d60{
padding-bottom:0px;
}

#top .hr.av-fnrop-83da826116faf84c697bf34068330678{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-fnrop-83da826116faf84c697bf34068330678 .hr-inner{
width:100%;
}

#top .av-special-heading.av-3sg6w9-97482d7279bb9c77bbf683de826997a0{
padding-bottom:0px;
}

#top .hr.av-2ewhxl-7310f680ec8c194cede977716a05c501{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2ewhxl-7310f680ec8c194cede977716a05c501 .hr-inner{
width:100%;
}

#top .av-special-heading.av-ktcivv32-ed7897f06720c89719b01fc7aafdb9e7{
padding-bottom:0px;
}

#top .hr.av-2llmhl-df592c82bbccc455c8456033b4092925{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2llmhl-df592c82bbccc455c8456033b4092925 .hr-inner{
width:100%;
}

.flex_column.av-3vwahl-3e8b2f25660c9d90e8e62df97d906e8c{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-ktcjn9y8-b970c58bef9b8667002b93e8b90ee794{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-ktcjn9y8-b970c58bef9b8667002b93e8b90ee794 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-ktcjoeus-08413e168dc08dfa234a14006e6af287{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-ktciqn7f-ed8378ccab2b5b5dff93f80976f5323a{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-ktcjpluz-f8b62fb6571e6ef4f8e27d3a283107ac{
height:25px;
}

.avia-section.av-2nyprd-88e667abddd9c33d9cfe306fdc9df427{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-2nyprd-88e667abddd9c33d9cfe306fdc9df427 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-ktcjx3s2-648712363f6c7c4a83b6ef86d606a603{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-ktcjx3s2-648712363f6c7c4a83b6ef86d606a603 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-ktcjwly2-eebee6be414f765c232990596569a3ae{
height:15px;
}

#top .hr.hr-invisible.av-34f4x5-69fc32034f382ba60a2360a643e63948{
height:15px;
}

