.avia-section.av-3abfmdi-f5e8eae9b027f41be974f8fd755d0794{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-3abfmdi-f5e8eae9b027f41be974f8fd755d0794 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-bjox6e-75892444eaa8da0c2462984534d0e222{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-30odmfa-ec636313b2ba15ce0816f1101730a90f{
padding-bottom:0px;
}

.flex_column.av-2yb8umu-a00a940e00e9d81d3027b6f9fb3b7091{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-2wuv4ty-35d485e3c6e369b97b8b793afaa81c2c .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-abwx2e-290f9dcebd9811b6bfabc7409f177d7c{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2traxhy-4297576078d8614b25de093f36825983{
padding-bottom:0px;
}

#top .hr.av-a2hmk6-980572f8082c44ff0510f4f12cddb837{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-a2hmk6-980572f8082c44ff0510f4f12cddb837 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2pf5sdy-597e583f62499b5e2a0571dad04f0e14{
padding-bottom:0px;
}

#top .hr.av-2moqmdi-e4da5be0ed159fdb73b90a446d04cdf0{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2moqmdi-e4da5be0ed159fdb73b90a446d04cdf0 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2jxob12-8e6d16ea6c94c72f0a808ce5bf59a733{
padding-bottom:0px;
}

#top .hr.av-2iqdnx2-d5a54a592f38e6f1f622b14756d751dc{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2iqdnx2-d5a54a592f38e6f1f622b14756d751dc .hr-inner{
width:100%;
}

.flex_column.av-muqrra-698f12f30945cb789e0340a12bc05674{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-lc4906-0ec188045255cbf14a10f7cbd15d2783{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-lc4906-0ec188045255cbf14a10f7cbd15d2783 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-ijxura-de4c5ddd3261a0ad1e8f40057c5149c8{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-guj7fa-382746b9d97df5e70a8f65bd43811314{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-f59wzq-ba1d93cc5a9e74753f122ef53885db32{
height:25px;
}

.avia-section.av-byhbue-586bb1601c39db938d4bfe37762838c2{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-byhbue-586bb1601c39db938d4bfe37762838c2 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-8nvcpi-436a781bca7fcdddeecba8caf8c4acf8{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-8nvcpi-436a781bca7fcdddeecba8caf8c4acf8 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-79t85y-66dbefa8ed9b21269103cd2b1abced53{
height:15px;
}

#top .hr.hr-invisible.av-4pxedi-e8c148b8555cfe17fa9a4dd4924e4968{
height:15px;
}

