.avia-section.av-cs4p88-b0713c537c562c73e1d0deed7dab14ae{
background-repeat:no-repeat;
background-image:url(../2022/03/health004.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-cs4p88-b0713c537c562c73e1d0deed7dab14ae .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-ktcnl5p5-72adb8aec9ab641df9d4141148f3bb79{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

.flex_column.av-5ppyq0-ddabe9bce63894edacad85ed23f06368{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

