.avia-section.av-347r3xv-daed098b160408dc0aaf5e9371b65eab{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-347r3xv-daed098b160408dc0aaf5e9371b65eab .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-2zsxqbn-0cc90044e33859dab369dca6ea86b686{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-kxk2dtom-576508768ca12281d07de23cf6fe10d8{
padding-bottom:0px;
}

.flex_column.av-2tn5rhf-820c27a06ad1e9933ece74884a5d57b6{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-kxk2i63h-347a129150880d04de225a13d6f572b5 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-2s8g9w3-c0ca134621bb918191e631a9bccf243b{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2pwsveb-e134a01d365d6f6324b8eb7efda6c410{
padding-bottom:0px;
}

#top .hr.av-2o3zmhf-e297f0a86685f132ff0c40886f313412{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2o3zmhf-e297f0a86685f132ff0c40886f313412 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2mrwno3-23b62e4ddef1c339c298857e0f265809{
padding-bottom:0px;
}

#top .hr.av-2ln2r03-bfcbe62a8860923d83f9624bb7a6df44{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2ln2r03-bfcbe62a8860923d83f9624bb7a6df44 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2jgs18j-77c28bc19406bcfdd775efd164581694{
padding-bottom:0px;
}

#top .hr.av-2hjmblv-0e3238e665fd7f01bfd9dff03e779ef6{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2hjmblv-0e3238e665fd7f01bfd9dff03e779ef6 .hr-inner{
width:100%;
}

.flex_column.av-n1u1xf-04c3a16bdd44bc75214874abf79d4a33{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-l3pmar-42684c001c73ad1470dc5e81fa65a0c4{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-l3pmar-42684c001c73ad1470dc5e81fa65a0c4 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-jedyzn-8f032a3ede7772706ea375822e0d9a7f{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-i6q1hf-b2a16f4451c8b23f1b52218b5f9210b3{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-g2yf1f-f129faa4aa6b4a85a24b5d2c632d68db{
height:25px;
}

.avia-section.av-chka4z-ae6c3eadb5400ba28b7b1ed9b29b733c{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-chka4z-ae6c3eadb5400ba28b7b1ed9b29b733c .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9d62k3-5c9f86d02a8258814423ff940c037fcc{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9d62k3-5c9f86d02a8258814423ff940c037fcc .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7ntco3-2e055abae4a4edad912ef7b6a4cc8b9c{
height:15px;
}

#top .hr.hr-invisible.av-4xsjmr-69b65d2bed3380b3cee7c4dfe98d4ea9{
height:15px;
}

