.avia-section.av-39st6jp-427a4c235ad81608d51b60578f7ae6af{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-39st6jp-427a4c235ad81608d51b60578f7ae6af .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-37hf7k5-42dd185a8732555cdc1f6e1a7c5f4ea1{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-30dl8x1-064733d42fbb966a4c4df286f86a2a21{
padding-bottom:0px;
}

.flex_column.av-amdaf9-2382b3008eee62a9887f25df595d0157{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-ajueth-a74e85dfc40b25a0b21bf63895fcd9e7 .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-2vljtyd-f66eafe04ccf87665cad9cec3c536664{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2tknaxh-8abfda637788a0c049d88a559a71d373{
padding-bottom:0px;
}

#top .hr.av-2s2f55h-d713996f8e78b210dbf27e597bdca95a{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2s2f55h-d713996f8e78b210dbf27e597bdca95a .hr-inner{
width:100%;
}

#top .av-special-heading.av-2ogwahx-68ec8d29929e7a15e0f10f9ece02e379{
padding-bottom:0px;
}

#top .hr.av-2ngvs45-e1513d8a7f507bcb9d7c57b7108f0821{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2ngvs45-e1513d8a7f507bcb9d7c57b7108f0821 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2jfz36t-d31ac0e6293b33cb11b505de1146c04e{
padding-bottom:0px;
}

#top .hr.av-2ips8ad-c6a64bac4a4dde17b3a7d51a2bccfaa8{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2ips8ad-c6a64bac4a4dde17b3a7d51a2bccfaa8 .hr-inner{
width:100%;
}

.flex_column.av-n0abdh-9b2d64d1a2344209f326875c877ea8ae{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-k7fhhx-c92d76c57a5b2e5bdd8dad244a90537d{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-k7fhhx-c92d76c57a5b2e5bdd8dad244a90537d .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-jmkvw5-5faf7c85b14162b284c12e750d374b02{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hhxbr9-e6579644613928f9383e9e7c10715cad{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-gdy2hh-26761ee5a7b8588b14af68b16e5b2b62{
height:25px;
}

.avia-section.av-c7m48l-cbd93ff64d48f849d155fe5c8dfbcb46{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-c7m48l-cbd93ff64d48f849d155fe5c8dfbcb46 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-9vkcrp-a31212bf567862f27c368d19e4ff3313{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-9vkcrp-a31212bf567862f27c368d19e4ff3313 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7lgw5x-d34d3fbb8cc194133e63af59803ef96f{
height:15px;
}

#top .hr.hr-invisible.av-4mqxz9-a1fe0294c7b042b3f22a51ea117f201d{
height:15px;
}

