.avia-section.av-1fp7gxn-a338f826c5c5840b0225875f82b9991a{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1fp7gxn-a338f826c5c5840b0225875f82b9991a .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-1d66i97-f89004ccb9225ac16602d39519b7fb32{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-160obej-01a63af6ea00f38f14940bdaad803994{
padding-bottom:0px;
}

.flex_column.av-14xzs8b-7b065f961ff6ca7b154ed7f1422aac25{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-l025q00f-1d52100414d29e9c431cab0d9c515a8f .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-12d0ayz-93514119582e828932b1ebacc6214d59{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-10r699n-b8d6bd057437e4d969f3ad3e17092dc2{
padding-bottom:0px;
}

#top .hr.av-z4xf5n-a3e425e8a9fea5e17df7e44f0876bed4{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-z4xf5n-a3e425e8a9fea5e17df7e44f0876bed4 .hr-inner{
width:100%;
}

#top .av-special-heading.av-xf6rq3-3a92095aadd02e7e6073d9c636f7b8ab{
padding-bottom:0px;
}

#top .hr.av-wzbzvv-67cfbbbe64b5893b842a7399c4166677{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-wzbzvv-67cfbbbe64b5893b842a7399c4166677 .hr-inner{
width:100%;
}

#top .av-special-heading.av-skswmz-5ff5808211ebcaa54d18c56c7e775fb3{
padding-bottom:0px;
}

#top .hr.av-ravj17-06a88283a935fee57cee270a288a8402{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-ravj17-06a88283a935fee57cee270a288a8402 .hr-inner{
width:100%;
}

.flex_column.av-mvgpt7-9b398863229c6316f063482d02ecbdf6{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-kny297-e708a34438d917f543e97ff3790d51a1{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-kny297-e708a34438d917f543e97ff3790d51a1 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-il00mj-a2b4e1384775ea6c5900aeb4346975a4{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-1sg1jf-10371bcde0bce2d7953273f0eeebd920{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-1j291n-40142aa1955624d0fe4654b9e75b1ad4{
height:25px;
}

.avia-section.av-chckez-1dd5602375ab9a784126fcd06035b778{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-chckez-1dd5602375ab9a784126fcd06035b778 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-8nskt7-acfdcc3966316567b8abdecab908051a{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-8nskt7-acfdcc3966316567b8abdecab908051a .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-75upej-8cf5011690b0c612247c0593b2e43ec2{
height:15px;
}

#top .hr.hr-invisible.av-46iogr-a12db49f4b524de1c5776ae0bac4dd70{
height:15px;
}

