.avia-section.av-1mt6jik-f1895809edf4983f1827d4bbb6f5e5f7{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-1mt6jik-f1895809edf4983f1827d4bbb6f5e5f7 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-ktcn4xw6-7f8e25d03a06dc767c872b3edb80164c{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

.flex_column.av-1cwj1ak-e715bb9ce3c6e97971feb9adba205623{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

