.avia-section.av-3arj6kp-1de5d3323be908565e223ce7a87fd00d{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-3arj6kp-1de5d3323be908565e223ce7a87fd00d .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-37n1yyx-f7f67baceae7d916b54ddce1ec8ecc3f{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

#top .av-special-heading.av-311tszd-e675108ff500bf644e408459757542e9{
padding-bottom:0px;
}

.flex_column.av-2zgnc1l-1070bdf62b105280ee2e221bc23a9947{
padding:30px 30px 30px 30px;
background-color:#338fa3;
}

#top .avia-gallery.av-2wrelt5-a4567887bdaa8279c1154ca41e1de1dc .avia-gallery-thumb a{
width:20%;
}

.flex_column.av-2v55zex-6973369edc481ef202a404fe4b827de7{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

#top .av-special-heading.av-2u0203d-c765945303d28435cd5f4883e9a87ef2{
padding-bottom:0px;
}

#top .hr.av-2sc8ky1-a58dbc20be3dcd071ac1facd7a2d915f{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2sc8ky1-a58dbc20be3dcd071ac1facd7a2d915f .hr-inner{
width:100%;
}

#top .av-special-heading.av-2ohida1-9a669191ba4f9685d4431ad67b70af0e{
padding-bottom:0px;
}

#top .hr.av-9iww6x-3854afb9f9d292d2db76574871966eb6{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-9iww6x-3854afb9f9d292d2db76574871966eb6 .hr-inner{
width:100%;
}

#top .av-special-heading.av-2jj41kp-7a0ea42c018830e83adef92951cbf73b{
padding-bottom:0px;
}

#top .hr.av-2ij1lqx-ac6e067d11a54de51b385c189290b520{
margin-top:10px;
margin-bottom:10px;
}
.hr.av-2ij1lqx-ac6e067d11a54de51b385c189290b520 .hr-inner{
width:100%;
}

.flex_column.av-lwamp5-658e228218d69980f34de9584925ab86{
padding:30px 30px 30px 30px;
background-color:#efefef;
}

.av_font_icon.av-leqk2h-df9640d5aa4269455993e289f5d7c27f{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-leqk2h-df9640d5aa4269455993e289f5d7c27f .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-iopbll-fdf477f0ddd61804f515c19000410072{
margin-top:-30px;
height:1px;
}

#top .av-special-heading.av-hy86bt-af771377685b370dd33d555e6ffa0e18{
padding-bottom:0px;
}

#top .hr.hr-invisible.av-fkpopl-dbe1714927277998cbe5235f6db92d36{
height:25px;
}

.avia-section.av-btsnbd-be6a57fd4a739e4f29b1b68843d26d47{
background-repeat:no-repeat;
background-image:url(../2021/09/company.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-btsnbd-be6a57fd4a739e4f29b1b68843d26d47 .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_font_icon.av-uwgwp-6b107d1a875d2fc548064b93ab3fb0d4{
color:#338fa3;
border-color:#338fa3;
}
.av_font_icon.av-uwgwp-6b107d1a875d2fc548064b93ab3fb0d4 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .hr.hr-invisible.av-7bn8pl-8bde22f8c055f565724882e90796b7f9{
height:15px;
}

#top .hr.hr-invisible.av-3xkb49-3779b49e080df6905090c9145aaaea32{
height:15px;
}

