.avia-section.av-cs97wg-9d4be1fc497081f898abd4a8560a77bd{
background-repeat:no-repeat;
background-image:url(../2021/09/pic1.jpg);
background-position:50% 100%;
background-attachment:fixed;
}
.avia-section.av-cs97wg-9d4be1fc497081f898abd4a8560a77bd .av-section-color-overlay{
opacity:0.5;
background-color:#000000;
}

.av_promobox.av-ktmeu7fv-1d57c9f2e9668f598cde62fe010146a0{
color:#ffffff;
background-color:rgba(0,0,0,0);
border-style:solid;
border-width:0 0 3px 1px;
border-color:#338fa3;
}

.flex_column.av-609khc-0ee7e636ba0693cb020898aa4db86544{
border-width:2px;
border-color:#338fa3;
border-style:solid;
padding:30px 30px 30px 30px;
}

